In [1]:
!pip install anvil-uplink

Collecting anvil-uplink
  Downloading anvil_uplink-0.3.39-py2.py3-none-any.whl (62 kB)
Collecting argparse
  Downloading argparse-1.4.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: six in d:\programfiles\anaconda3\lib\site-packages (from anvil-uplink) (1.15.0)
Requirement already satisfied: future in d:\programfiles\anaconda3\lib\site-packages (from anvil-uplink) (0.18.2)
Collecting ws4py
  Downloading ws4py-0.5.1.tar.gz (51 kB)
Building wheels for collected packages: ws4py
  Building wheel for ws4py (setup.py): started
  Building wheel for ws4py (setup.py): finished with status 'done'
  Created wheel for ws4py: filename=ws4py-0.5.1-py3-none-any.whl size=45215 sha256=25dc4529373622a8d5fc9a6d89064cee103ec6882759a708a75c0c94bb593a6d
  Stored in directory: c:\users\rizky\appdata\local\pip\cache\wheels\ea\f9\a1\34e2943cce3cf7daca304bfc35e91280694ced9194a487ce2f
Successfully built ws4py
Installing collected packages: ws4py, argparse, anvil-uplink
Successfully installed anvil-uplink-0.3.39 argparse-1.4.0 ws4py-0.5.1

In [ ]:
import anvil.server

In [ ]:
anvil.server.connect("3KITMXYEJI3VFHCUMEZ2EVBF-MAN4LYQX24UKAMMD")

In [2]:
import pandas as pd

In [3]:
df_patient = pd.read_csv('dataset-fix.csv')
df_patient.head()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
0,normal,rendah,normal,normal,normal,rendah,normal,rendah,f,out
1,normal,normal,normal,tinggi,normal,normal,normal,normal,f,out
2,rendah,rendah,normal,tinggi,normal,rendah,normal,rendah,f,out
3,normal,normal,normal,normal,normal,normal,normal,rendah,f,out
4,rendah,rendah,normal,tinggi,normal,rendah,rendah,rendah,f,out

In [4]:
df_patient.shape

(4412, 10)

In [5]:
df_patient.describe()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
count,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412
unique,3,3,3,3,3,3,3,3,2,2
top,normal,normal,normal,normal,normal,normal,normal,normal,m,out
freq,2678,2617,3271,3040,3476,3687,3832,3551,2290,2628

In [6]:
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   haematocrit  4412 non-null   object
 1   haemoglobin  4412 non-null   object
 2   erythrocyte  4412 non-null   object
 3   leucocyte    4412 non-null   object
 4   thrombocyte  4412 non-null   object
 5   mch          4412 non-null   object
 6   mchc         4412 non-null   object
 7   mcv          4412 non-null   object
 8   sex          4412 non-null   object
 9   source       4412 non-null   object
dtypes: object(10)
memory usage: 344.8+ KB

In [7]:
df_patient.isnull()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
4407,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False
4410,False,False,False,False,False,False,False,False,False,False
4411,False,False,False,False,False,False,False,False,False,False

In [8]:
from sklearn.preprocessing import LabelEncoder
encoded = LabelEncoder()
# df_patient['sex'] = encoded.fit_transform(df_patient['sex'].values)

In [9]:
jkel = pd.get_dummies(df_patient['sex'])

In [10]:
frames = [df_patient, jkel]
df_patient = pd.concat(frames, axis = 1)
df_patient.head()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source,f,m
0,normal,rendah,normal,normal,normal,rendah,normal,rendah,f,out,1,0
1,normal,normal,normal,tinggi,normal,normal,normal,normal,f,out,1,0
2,rendah,rendah,normal,tinggi,normal,rendah,normal,rendah,f,out,1,0
3,normal,normal,normal,normal,normal,normal,normal,rendah,f,out,1,0
4,rendah,rendah,normal,tinggi,normal,rendah,rendah,rendah,f,out,1,0

In [11]:
df_patient.head()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source,f,m
0,normal,rendah,normal,normal,normal,rendah,normal,rendah,f,out,1,0
1,normal,normal,normal,tinggi,normal,normal,normal,normal,f,out,1,0
2,rendah,rendah,normal,tinggi,normal,rendah,normal,rendah,f,out,1,0
3,normal,normal,normal,normal,normal,normal,normal,rendah,f,out,1,0
4,rendah,rendah,normal,tinggi,normal,rendah,rendah,rendah,f,out,1,0

In [12]:
label = {
    'rendah':0,
    'normal':1,
    'tinggi':2
}
df_patient['haematocrit'].replace(label, inplace=True)
df_patient['haemoglobin'].replace(label, inplace=True)
df_patient['erythrocyte'].replace(label, inplace=True)
df_patient['leucocyte'].replace(label, inplace=True)
df_patient['thrombocyte'].replace(label, inplace=True)
df_patient['mch'].replace(label, inplace=True)
df_patient['mchc'].replace(label, inplace=True)
df_patient['mcv'].replace(label, inplace=True)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
df_patient

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source,f,m
0,1,0,1,1,1,0,1,0,f,out,1,0
1,1,1,1,2,1,1,1,1,f,out,1,0
2,0,0,1,2,1,0,1,0,f,out,1,0
3,1,1,1,1,1,1,1,0,f,out,1,0
4,0,0,1,2,1,0,0,0,f,out,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4407,1,1,1,1,0,1,1,1,m,in,0,1
4408,1,1,1,1,0,1,1,1,m,in,0,1
4409,1,1,1,1,1,1,1,1,m,in,0,1
4410,0,0,0,1,1,1,1,1,m,out,0,1
4411,0,0,0,2,1,0,0,0,m,out,0,1

In [17]:
features = df_patient[['haematocrit', 'haemoglobin', 'erythrocyte', 'leucocyte', 'thrombocyte', 'mch', 'mchc', 'mcv', 'f', 'm']]
labels = df_patient["source"]

In [ ]:
labels

In [18]:
tree_data = DecisionTreeClassifier()
tree_data.fit(features, labels)

DecisionTreeClassifier()

In [20]:
tree_data.score(features, labels)

0.7520398912058024

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
 
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3)
tree_data = DecisionTreeClassifier()
tree_data.fit(xtest, ytest)

In [ ]:
print("Akurasi pada saat testing = ", tree_data.score(xtrain, ytrain))

In [ ]:
tree_data.predict([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0]])

In [ ]:
tree_data.predict([[1, 1, 1, 1, 1, 1, 1, 1, 1, 0]])

In [21]:
import pickle
with open('model.pkl', 'wb') as model_file:
  pickle.dump(tree_data, model_file)

In [ ]:
# @anvil.server.callable
# def predict_patient(haematocrit, haemoglobins, erythrocyte, leucocyte, thrombocyte, mch, mchc, mcv, 0, 1) :
#   klasifikasi = tree_data.predict([[haematocrit, haemoglobins, erythrocyte, leucocyte, thrombocyte, mch, mchc, mcv, 0, 1]])
#   tes = print(klasifikasi)
#   return tes() 
#   anvil.server.wait_forever()

anvil.server.wait_forever()