In [ ]:
!pip install anvil-uplink

Requirement already satisfied: anvil-uplink in /usr/local/lib/python3.7/dist-packages (0.3.39)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from anvil-uplink) (1.15.0)
Collecting argparse
  Using cached argparse-1.4.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: ws4py in /usr/local/lib/python3.7/dist-packages (from anvil-uplink) (0.5.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from anvil-uplink) (0.16.0)
Installing collected packages: argparse
Successfully installed argparse-1.4.0

In [ ]:
import anvil.server

In [ ]:
anvil.server.connect("3KITMXYEJI3VFHCUMEZ2EVBF-MAN4LYQX24UKAMMD")

In [1]:
import pandas as pd

In [2]:
df_patient = pd.read_csv('dataset-fix.csv')
df_patient.head()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
0,normal,rendah,normal,normal,normal,rendah,normal,rendah,f,out
1,normal,normal,normal,tinggi,normal,normal,normal,normal,f,out
2,rendah,rendah,normal,tinggi,normal,rendah,normal,rendah,f,out
3,normal,normal,normal,normal,normal,normal,normal,rendah,f,out
4,rendah,rendah,normal,tinggi,normal,rendah,rendah,rendah,f,out

In [3]:
df_patient.shape

(4412, 10)

In [4]:
df_patient.describe()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
count,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412
unique,3,3,3,3,3,3,3,3,2,2
top,normal,normal,normal,normal,normal,normal,normal,normal,m,out
freq,2678,2617,3271,3040,3476,3687,3832,3551,2290,2628

In [5]:
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   haematocrit  4412 non-null   object
 1   haemoglobin  4412 non-null   object
 2   erythrocyte  4412 non-null   object
 3   leucocyte    4412 non-null   object
 4   thrombocyte  4412 non-null   object
 5   mch          4412 non-null   object
 6   mchc         4412 non-null   object
 7   mcv          4412 non-null   object
 8   sex          4412 non-null   object
 9   source       4412 non-null   object
dtypes: object(10)
memory usage: 344.8+ KB

In [6]:
df_patient.isnull()

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
4407,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False
4410,False,False,False,False,False,False,False,False,False,False
4411,False,False,False,False,False,False,False,False,False,False

In [7]:
from sklearn.preprocessing import LabelEncoder
encoded = LabelEncoder()
# df_patient['sex'] = encoded.fit_transform(df_patient['sex'].values)

In [ ]:
jkel = pd.get_dummies(df_patient['sex'])

In [ ]:
frames = [df_patient, jkel]
df_patient = pd.concat(frames, axis = 1)
df_patient.head()

  haematocrit haemoglobin erythrocyte leucocyte  ... sex source  f  m
0      normal      rendah      normal    normal  ...   f    out  1  0
1      normal      normal      normal    tinggi  ...   f    out  1  0
2      rendah      rendah      normal    tinggi  ...   f    out  1  0
3      normal      normal      normal    normal  ...   f    out  1  0
4      rendah      rendah      normal    tinggi  ...   f    out  1  0

[5 rows x 12 columns]

In [ ]:
df_patient.head()

  haematocrit haemoglobin erythrocyte leucocyte  ... sex source  f  m
0      normal      rendah      normal    normal  ...   f    out  1  0
1      normal      normal      normal    tinggi  ...   f    out  1  0
2      rendah      rendah      normal    tinggi  ...   f    out  1  0
3      normal      normal      normal    normal  ...   f    out  1  0
4      rendah      rendah      normal    tinggi  ...   f    out  1  0

[5 rows x 12 columns]

In [8]:
label = {
    'rendah':0,
    'normal':1,
    'tinggi':2
}
df_patient['haematocrit'].replace(label, inplace=True)
df_patient['haemoglobin'].replace(label, inplace=True)
df_patient['erythrocyte'].replace(label, inplace=True)
df_patient['leucocyte'].replace(label, inplace=True)
df_patient['thrombocyte'].replace(label, inplace=True)
df_patient['mch'].replace(label, inplace=True)
df_patient['mchc'].replace(label, inplace=True)
df_patient['mcv'].replace(label, inplace=True)

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
df_patient

,haematocrit,haemoglobin,erythrocyte,leucocyte,thrombocyte,mch,mchc,mcv,sex,source
0,1,0,1,1,1,0,1,0,f,out
1,1,1,1,2,1,1,1,1,f,out
2,0,0,1,2,1,0,1,0,f,out
3,1,1,1,1,1,1,1,0,f,out
4,0,0,1,2,1,0,0,0,f,out
...,...,...,...,...,...,...,...,...,...,...
4407,1,1,1,1,0,1,1,1,m,in
4408,1,1,1,1,0,1,1,1,m,in
4409,1,1,1,1,1,1,1,1,m,in
4410,0,0,0,1,1,1,1,1,m,out
4411,0,0,0,2,1,0,0,0,m,out

In [ ]:
x = df_patient[['haematocrit', 'haemoglobin', 'erythrocyte', 'leucocyte', 'thrombocyte', 'mch', 'mchc', 'mcv', 'f', 'm']]
y = df_patient['source']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
 
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3)
tree_data = DecisionTreeClassifier()
tree_data.fit(xtest, ytest)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
print("Akurasi pada saat testing = ", tree_data.score(xtrain, ytrain))

Akurasi pada saat testing =  0.6926813471502591

In [ ]:
tree_data.predict([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0]])

array(['in'], dtype=object)

In [ ]:
tree_data.predict([[1, 1, 1, 1, 1, 1, 1, 1, 1, 0]])

array(['out'], dtype=object)

In [ ]:
import pickle
with open('model.pkl', 'wb') as model_file:
  pickle.dump(tree_data, model_file)

In [ ]:
# @anvil.server.callable
# def predict_patient(haematocrit, haemoglobins, erythrocyte, leucocyte, thrombocyte, mch, mchc, mcv, 0, 1) :
#   klasifikasi = tree_data.predict([[haematocrit, haemoglobins, erythrocyte, leucocyte, thrombocyte, mch, mchc, mcv, 0, 1]])
#   tes = print(klasifikasi)
#   return tes() 
#   anvil.server.wait_forever()

anvil.server.wait_forever()

KeyboardInterrupt: ignored